
/* Large desktops and laptops */
@media (min-width: 1200px) {
	.bg-image{
		background: url(../images/first-img.png) #303032;
		background-repeat: no-repeat;
		width: auto;
		min-width: 90%;
		height: 100vh;
		/*position: absolute;*/
	}
	#development .developmentprocess{
		background: url(../images/development-process.png);
		background-repeat: no-repeat;
		background-position: 0 30%;
		background-size: 100% auto;
		min-height: 100%;
	 }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.bg-image{
		background: url(../images/first-img.png) #303032;
		background-repeat: no-repeat;
		width: auto;
		min-width: 90%;
		height: 100vh;
		/*position: absolute;*/
	}
	#development .developmentprocess{
		background: url(../images/development-process.png);
		background-repeat: no-repeat;
		background-position: 0 30%;
		background-size: 100% auto;
		min-height: 100%;
	 }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.bg-image{
		background: #303032;
	}
	#development .developmentprocess{
		background: transparent;
	 }
	 #development .developmentprocess .box2, #development .developmentprocess .box3, #development .developmentprocess .box1{
	 	top: 0;
	 	left: 0;
	 	margin-top: 0;
	 }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.bg-image{
		background: #303032;
	}
	#development .developmentprocess{
		background: transparent;
	 }
	#development .developmentprocess .box2, #development .developmentprocess .box3, #development .developmentprocess .box1{
		top: 0;
		left: 0;
		margin-top: 0;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.bg-image{
		background: #303032;
	}
	#development .developmentprocess{
		background:transparent;
	 }
 #development .developmentprocess .box2, #development .developmentprocess .box3, #development .developmentprocess .box1{
		top: 0;
		left: 0;
		margin-top: 0;
	}
}