.page{
	height: 100vh;
	overflow-y: hidden;
}
.black-bg {
	background: #303032;
	color: white;
	overflow-y: hidden;
}
.white-bg{
	background: white;
	color: #303032;
	overflow-y: hidden;
}

/*First Screen*/
/*.
.FirstScreen{{
	background: url(../images/first-img.png) no-repeat #303032;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	height: 100vh;
	width: 100%;
}*/
.FirstScreen .img{
	position: absolute;
	top: 0;
	left: 0;
	max-height: 100vh;
}
*{
	/*-webkit-transition: all 1.1s ease !important;
	-moz-transition: all 1.1s ease !important; 
	-o-transition: all 1.1s ease !important;*/      
	/*behavior: url(scripts/pie.htc); */
	letter-spacing: 0.06em;
	/*overflow-y: hidden;*/
}
.FirstScreen p {
	text-align: justify;
}

ul.partners-images {
	margin: 0 auto;
	margin-top: 50px;
	border-top: 1px solid #aaa;
	padding: 0;
}
.FirstScreen ul.partners-images li{
	float: left;
	list-style: none;
	margin-left: 20px;
}
ul.partner-images li:First:child{
	margin-left: -20px;
}
.partners-images li img {
	width: 100px;
	height: auto;
	margin-left: 10px;
	opacity: 0.8;
}

.partners-images li img:hover, .partners-images li:hover img {
	opacity: 1;
}

/*Second Screen*/
.aboutimage img{
	position: absolute;
}
.SecondScreen .description{

}

.SecondScreen .description h1{
	font-size: 24px;
}

.SecondScreen .description .one{
	top: 20px;
}

.SecondScreen .description .two{
	top: 230px;
	left: 80px;
}

.SecondScreen .description .three{
	left: 90px;
}





.activeBG {
	width: 0px;
	height: 0px;
	border-style: solid;
	margin: auto;
	border-width: 20px 55px 0px 55px;
	border-color: #0BC8A3 transparent transparent transparent;
	line-height: 0px;
	_border-color: #0BC8A3 #000000 #000000 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	position: absolute !important;
	bottom: -20px;
}       